--only-binary :all: greenlet
python-dotenv
langchain
langchain-community
langchain_openai
langchain_google_genai
langchain-pinecone
langchain-aws
pinecone
pinecone-client
anthropic
llama-index 
llama-index-vector-stores-pinecone
boto3
openai
huggingface_hub
google-generativeai
numpy
pydantic
tiktoken
PyPDF2
streamlit
unstructured
unstructured[pdf]
unstructured[docx]
nltk
llama-index-embeddings-bedrock
langchain_aws